.boss-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    align-items: center;
    position: relative;
    overflow: hidden;
    background-color: grey;
}

.img-swap {
    display: flex; 
    width: 100%;
    height: 100%;
    justify-content: flex-end; 
}


.bg-picture {
    visibility: visible;
    opacity: 1;
    transition: opacity 1s ease;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.second-picture {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 1s, opactiy 1s ease; 
    left: 0;
    top: 0;
    width: 70%;
}

.overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    resize: vertical;
    overflow: auto;
    bottom: 0;
    left: 0;
    right: 0;
    background-color:rgba(0, 0, 0, 0.7);
    overflow: hidden;
    width: 0;
    height: 94vh;
    transition: .5s ease;
}

.boss-box:hover .overlay {
    width: 30%;
}

.boss-box:hover .bg-picture {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 1s, opacity 1s ease;
}

.boss-box:hover .second-picture {
    visibility: visible; 
    opacity: 1;
    transition: opacity 1s ease;
}

.overlay-content-box {
    background-color: rgba(107, 17, 17, 0.527);
    display: flex; 
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.overlay h2 {
    color: white;
    font-size: 50px;
    white-space: nowrap;
}

.overlay p {
    color: white;
    font-size: 30px;
}

@media screen and (max-width: 1400px) { 

    .boss-box:hover .overlay {
        width: 45%;
    }

    .second-picture {
        width: 55%;
        object-fit: cover;
        object-position: left;

    }
}

@media screen and (max-width: 1000px) { 

    .bg-picture {
        object-fit: cover;
        object-position: 25%;
    }

    .second-picture {
        display: none;
    }

    .boss-box:hover .bg-picture {
        visibility: visible; 
        opacity: 1;
    }

    .boss-box:hover .overlay {
        width: 100%;
    }

    .overlay {
        transition: 1s ease;
    }


    .overlay-content-box {
        background-color: rgba(50, 50, 139, 0.685);
    }
}

@media screen and (max-width: 600px) { 
    .overlay-content-box {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

}