.sectionShips {

  background-color: rgba(0, 81, 255, 0.489);
  color: black;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 0.1em 0 1em 0;

  box-sizing: border-box;
  //max-height: 100vh We might wanna rethink this approach, it might just be for the better to just let it take as much space as it wants
  
}

.allcardsShips {
  display: flex;
  flex-direction: row;
  max-width: 90%;
  gap: 10px;
}

.carddisplayShips {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.standoutShips {
  max-width: 100%;
  gap: 20px;
}

.standardShips {
  max-width: 40%;
  gap: 50px;
}
