.uncommon {
  width: 33%;
  max-width: 40%;
  max-height: 400px;
  padding: 5px;
  transition: background-color 0.5s, color 0.5s;
}
.uncommon:hover {
  color: white;
  border: 2px solid white;
  background-color: black;
}



.onlyStandout {
  max-width: 22%;
  max-height: 400px;
  padding: 5px;
  transition: background-color 0.5s, color 0.5s;
}
.onlyStandout:hover {
  color: white;
  border: 2px solid white;
  background-color: black;
}

.permanentlySelectedStandout {
  color: white;
  border: 2px solid white;
  background-color: black;
}