html {
    scroll-behavior: smooth;
}

.navigation-bar {
    display: flex;
    flex-wrap: wrap;
    width: 100%; 
    background-color: black;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.navigation-bar-links {
    text-decoration: none;
    display: flex; 
    flex-wrap: wrap;
    justify-content: center; 
    align-items: center;
    text-align: center;
    border-radius: 5px;
    flex: 1;
}

.navigation-bar a {
    color: white;
    text-decoration: none;
    width: 16.66%;
    border-radius: 5px;
}


.navigation-bar a:hover {
    background-color: rgba(141, 140, 140, 0.575);
    transition: .5s ease;
}


.navigation-bar img {
    height: stretch;
    width: 75px;
    opacity: 40%;
    transition: all .5s ease;
}

.navbar-images {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    box-sizing: border-box;
}

.navigation-bar img:hover {
    opacity: 1;
    transform: scale(1.05);
}

@media screen and (max-width: 1000px) { 

    .navigation-bar a {
        width: 33%;
    }
    
}



@media screen and (max-width: 700px) { 

    .navigation-bar a {
        width: 50%;
    }
    
}


@media screen and (max-width: 600px) { 

    .navbar-images {
        width: 100%;
    }

    .navigation-bar img {
        width: calc(33% - 20px);
    }

    .navigation-bar a {
        width: 33%;
    }

}