.extra-boss-section {
    display: flex; 
    width: 100%; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.extra-boss-section h1 {
    padding: 10px 0px;
    margin-bottom: 15px;
}

.information-box {
    display: grid;
    align-items: center;
    width: 90%;
    grid-template-columns: 1fr 1fr;
    margin: 10px 0px;
}


.infoTexts {
    font-size: 25px;
    text-align: center;
}
.infoTexts p {
    font-size: 20px;
}
.rightText {
    text-align: right;
}
.leftText {
    text-align: left;
}


.infoFeaturedArea {
    width: 70%;
    height: 100%;
}
.infoImages {
    display: flex; 
    position: relative;
    justify-content: center;
}

.infoPicture {
    position: relative;
}

.infoGif {
    position: absolute;
    opacity: 0;
    transition: opacity 0.5s ease;
}
.infoGif:hover {
    opacity: 1;
}