.section {
  color: black;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 0.1em 0 1em 0;

  box-sizing: border-box;

  height: fit-content;

}

.allCards {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.cardDisplay {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  max-width: 90%;
}

.standoutCardDisplay {
  max-width: 50%;
  gap: 50px;
}

.standardCardDisplay {
  max-width: 50%;
  gap: 50px;
}